*.chunklist
*.conf
*.dmg
*.fd
*.img
*.iso
*.lock
*.log
*.msi
*.part
*.permall
*.pid
*.ports
*.qcow2
*.sh
*.sock
*.xml
*.zs-old
.gitpod.yml
.gitpod.Dockerfile
ubuntu-mate-impish.conf
qemu/*
ubuntu-mate-impish/*
