*.chunklist
*.conf
*.dmg
*.fd
*.fixed
*.img
*.iso
*.lock
!flake.lock
*.log
*.markdownlint.jsonc
*.markdownlint.yaml
*.msi
*.part
*.permall
*.pid
*.ports
*.qcow2
*.sh
*.sock
*.xml
*.zs-old
.direnv/
megalinter-reports/
